body {
    box-sizing: border-box;
    background-image:url('FullScreen.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    font-family: "swiss", sans-serif;
    text-transform: uppercase;
}



header {
    display: flex;  
    
    justify-content: space-evenly;
}

h1 {
    color:white;
    font-size: 50px;
    text-shadow: 3px 3px palevioletred;

}


h2 {
    color:white;
    text-shadow: 1px 3px palevioletred;

}

.startPage {
    display:block;
    width: 50%;
    margin-top: 350px;
    margin-left: auto;
    margin-right:auto;
    border-radius: 2px;
    text-align: center;
    
}


.question-pages {
    font-family: "swiss", sans-serif;
    color:white;
    text-shadow: 1px 1px palevioletred;
    
    

}


fieldset {
    display: flex;
    flex-direction: column;
    border:none;
    background: black;
}

.submit-button {

    
}


